<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="bai.kang.yun.zxd">

    <!--允许程序设置内置sd卡的读权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!--打电话-->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--允许程序打开网络套接字-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--环信用到的权限-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
        android:name="common.WEApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/ImageTranslucentTheme">

        <activity android:name="bai.kang.yun.zxd.mvp.ui.activity.UserActivity">

        </activity>
        <activity android:name="bai.kang.yun.zxd.mvp.ui.activity.DetailActivity">

        </activity>
        <activity android:name="bai.kang.yun.zxd.mvp.ui.activity.ShopDetailActivity">

        </activity>
        <activity android:name="bai.kang.yun.zxd.mvp.ui.activity.ShopListActivity">

        </activity>
        <activity android:name="bai.kang.yun.zxd.mvp.ui.activity.SearchActivity">

        </activity>
        <activity android:name="bai.kang.yun.zxd.mvp.ui.activity.GoodsListActivity">

        </activity>
        <activity android:name="bai.kang.yun.zxd.mvp.ui.activity.LoginActivity">

        </activity>
        <activity android:name="bai.kang.yun.zxd.mvp.ui.activity.RegisterActivity">

        </activity>
        <activity android:name="bai.kang.yun.zxd.mvp.ui.activity.MapActivity">

        </activity>
        <activity android:name="bai.kang.yun.zxd.mvp.ui.activity.ChatListActivity">

        </activity>
        <activity android:name="bai.kang.yun.zxd.mvp.ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:name="com.amap.api.location.APSService"></service>
        <!-- autolayout meta
        将设计图的宽高配置后,配合AutoLauout控件使用,在设计图尺寸以外的其它尺寸手机上,也能达到和设计图一样的效果
        -->
        <meta-data
            android:name="design_width"
            android:value="1080"/>
        <meta-data
            android:name="design_height"
            android:value="1920"/>
        <!--glide配置-->
        <meta-data
            android:name="com.jess.arms.widget.imageloader.glide.GlideConfiguration"
            android:value="GlideModule"/>
        <!--友盟-->
        <meta-data android:value="58f1d7fa1061d23c69001718" android:name="UMENG_APPKEY"/>
        <meta-data android:value="Channel ID" android:name="UMENG_CHANNEL"/>
        <!--高德地图-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="fb1f080a0e87149d90e8426aa2b41c6a"/>
        <!-- 设置环信应用的AppKey -->
        <meta-data android:name="EASEMOB_APPKEY"  android:value="1113170510115622#shopbky" />
        <!-- 声明SDK所需的service SDK核心功能-->
        <service android:name="com.hyphenate.chat.EMChatService" android:exported="true"/>
        <service android:name="com.hyphenate.chat.EMJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"
            />
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="bai.kang.yun.zxd"/>
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>